* {
    font-family: 'Roboto', sans-serif;
}

.button.is-discord {
    background-color: #5865f2;
    border-color: transparent;
    color: #fff;
}

.button.is-youtube {
    background-color: #ff0000;
    border-color: transparent;
    color: #fff;
}

.icon {
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.main-hero {
    background-size: cover;
    background-position: center;
}

.frosted-card {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    /*height: 95vh;*/
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-logo {
    width: 200px;
}
